img {
    width: 100%;
}

.MainSection {
    /* background: rgb(177, 177, 207); */
    width: 1072px;
    margin: auto;
}

.MainSection .PrimeiraSessao .textoo {
    margin-top: 36px;


}

.textoo .h3Images {
    margin-bottom: 26px;
}

.MainSection .PrimeiraSessao .textoo .paraImages {}

/* img {
     width: 100%; 
} */

.MainSection .PrimeiraSessao .container-imagens {
    max-width: 1067px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 35px;
    display: grid;
    grid-template-areas:
        "imagemMaior grid-imagens grid-imagens"
        "imagemMaior grid-imagens grid-imagens"
    ;
    gap: 17px 15px;
}

.MainSection .PrimeiraSessao .imagemMaior {
    grid-area: "imagemMaior";
    grid-row: imagemMaior;
    transition: ease-in-out 1s;


}

.MainSection .PrimeiraSessao .imagemMaior:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.MainSection .PrimeiraSessao .grid-imagens {
    grid-area: "grid-imagens";

}

.MainSection .PrimeiraSessao .ajusteImagem {
    width: 529px;
    height: 400px;
}

.MainSection .PrimeiraSessao .imagemMenor {
    width: 254px;
    height: 192px;
    position: relative;

    transition: ease-in-out 1s;
}

.MainSection .PrimeiraSessao .imagemMenor:hover {
    cursor: pointer;
    transform: scale(1.06);
}

.imagemMaior {
    position: relative;

}

.lugar-nome {
    position: absolute;
    bottom: 13px;
    left: 16px;

    color: white;
}



.MainSection .SegundaSessao .bloco1,
.bloco2 {
    background: #ffffff;
    width: 527px;
    height: 453px;
    cursor: pointer;
    transition: ease-in-out 1s;
}

.MainSection .SegundaSessao .bloco1:hover {
    transform: scale(1.04);
}

.MainSection .SegundaSessao .bloco2:hover {
    transform: scale(1.04);
}

.MainSection .SegundaSessao .segundoContainerImagens {
    display: flex;
    gap: 17px 15px;
    margin-top: 21px
}

.conteudoTexto {
    margin-left: 17px;
}

.MainSection .SegundaSessao .segundoContainerImagens .titlesContainersDois {
    margin-top: 17px;
    margin-bottom: 27px;
    font-size: 19px;
}

.MainSection .SegundaSessao .segundoContainerImagens .valorContainerDois {
    font-size: 12px;
    margin-bottom: 24px;
    ;
}

.MainSection .SegundaSessao .segundoContainerImagens .paraContainerDois {
    font-size: 12px;
    margin-bottom: 31px;
}

.MainSection .SegundaSessao .segundoContainerImagens .ticketContainerDois {
    font-size: 12px;
}